{% extends 'radiographerleftsection.html' %}
{% block pagecontent %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-lg-start mb-4 justify-content-between">
        <h1 class="h3 mb-0 text-gray-800">Good Morning, <strong>{{rg.name}}</strong></h1>

    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Recent Patients -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Recent Request list</h6>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">PID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Jan 28</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Thornton</td>
                                <td>Jan 27</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>Jan 26</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
